name: remote ssh command
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_BUILD }}
          username: ${{ secrets.USERNAME_BUILD }}
          password: ${{ secrets.PASSWORD_BUILD }}
          port: ${{ secrets.PORT }}
          command_timeout: 5m
          script: |
            cd /root/mdnice/markdown-nice-editor
            git stash
            git pull origin master
            yarn
            yarn build
            scp -r /root/mdnice/markdown-nice-editor/build mdnice@49.233.93.222:/home/mdnice/markdown-nice-editor/build
